bucket                      = "YOUR_BUCKET"
key                         = "bootstrap/terraform.tfstate"
region                      = "gra"
endpoint                    = "https://s3.gra.io.cloud.ovh.net"
skip_credentials_validation = true
skip_region_validation      = true
skip_metadata_api_check     = true
skip_requesting_account_id  = true
force_path_style            = true
